{% extends Views/Admin/layout.html %}
{% block content %}
<div class="row col-md-10">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>
                    #
                </td>
                <td>
                    Name
                </td>
                <td>
                    Public Port
                </td>
                <td>
                    Private Port
                </td>
                <td>
                    Private Ip
                </td>
                <td>
                    Operate
                </td>
            </tr>
        </thead>
        <tbody>
            {% for item in channels -%}
            <tr>
                <td>
                    {{item.ChannelId}}
                </td>
                <td>
                    {{item.Name}}
                </td>
                <td>
                    {{item.BackendPort}}
                </td>
                <td>
                    {{item.FrontendPort}}
                </td>
                <td>
                    {{item.FrontendIp}}
                </td>
                <td>
                    <button type="button" data-channelid="{{item.ChannelId}}" class="btn btn-warning delete-btn">del</button>
                </td>
            </tr>
            {% endfor -%}
        </tbody>
    </table>
    <a href="/channel/add?id={{Id}}" class="btn btn-success">Add Channel</a>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    window.onload = () => {
        for (var i = 0; i < document.getElementsByClassName('delete-btn').length; i++) {
            var item = document.getElementsByClassName('delete-btn')[i];
            item.addEventListener('click', () => {
                var channelId = item.attributes["data-channelid"].value;
                HttpRequestHelper.post('/channel/del', {
                    Id: channelId
                }).then(res => {
                    if (res.success) {
                        window.location.reload();
                        return;
                    }
                    alert(res.message);
                });
            });
        }
    }
</script>
{% endblock %}